<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="../css/profile.css" type="text/css" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link href='http://fonts.googleapis.com/css?family=Droid+Serif|Open+Sans:400,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="../css/reset.css">
	<!-- CSS reset -->
	<link rel="stylesheet" href="../css/profile.css">
	<!-- Resource style -->

	<script src="../js/modernizr.js"></script>
	<!-- Modernizr -->

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>



</head>

<body>



	<!-- this needs to be a banner with a pic, go back, about inside of it. -->

	<div class="container">
		<div class="jumbotron" style="height: 451px">
			<span>
				<p id="username"></p>	
				<a type="button" class="btn button" href="/home">GO HOME</a>
				<form align="right" name="form1" method="post" action="/logout">
					<label class="logoutLblPos btn button">
						<input name="submit2" type="submit" id="submit2" value="log out">
					</label>
				</form>
			</span>
			<h1 id="kidsName"></h1> 
			<span>
				<img id="babyImage" src="../img/picHere.png" class="img-thumbnail col-md-3" alt="Cinque Terre">
				<img src="../img/Dinosaur.png" class="smallPic col-md-2" alt="">
				<div>
					<span>Weight: </span><span id="weight"></span>
				</div>
				<div>
					<span>Length: </span><span id="length"></span>
				</div>
				<div>
					<span>Birthday: </span><span id="birthday"></span>
				</div>
			</span>
			<!-- EDIT BUTTON -->
			<!-- EDIT BUTTONS MODAL -->

		</div>
	</div>

	<!-- this is the add event button --> 

	<div class="wrapper">
		<div class="container">

			<!-- Trigger the modal with a button -->
			<button id="add-event-btn" type="button" class="btn btn-default big-btn btn-info btn-lg addEvent" data-toggle="modal" data-target="#addModal">+ ADD EVENT</button>

			<!-- Modal -->
			<div class="modal fade" id="addModal" role="dialog">
				<div class="modal-dialog modal-lg">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">&times;</button>
							<h4 class="modal-title">Modal Header</h4>
						</div>
						<div class="modal-body">
						 <!-- <form id='uploadForm' method='post' action='/api/childs' enctype="multipart/form-data">
						 <input type='file' name='sampleFile'> -->



						 <form id='eventForm'  method="post" enctype="multipart/form-data">
						 	<input type='file' name='sampleFile'>


						 	<label for="title">TITLE</label>
						 	<input type="text" id="title" class="form-control" name="title" placeholder="specify the title of the EVENT">

						 	<label for="date ">DATE OF BIRTH</label>
						 	<input type="date" id="date" class="form-control" name="date" placeholder="birthdate of the baby..">

								<!-- <label for="appt-time">TIME OF BRITH </label>
								<input id="appt-time" type="time" name="appt-time" value="13:30"> -->
								
								<label for="description">SHORT EVENT DISCRIPTION</label>
								<input type="text" id="description" class="form-control" name="description" placeholder="EVENT">

								<label for="story">STORY</label>
								<textarea id="story" name="story" class="form-control" placeholder="Write something.." style="height:200px"></textarea>

								<input type="submit" >

							</form>

						</div>
						<div class="modal-footer">
							<button id="closeModal" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>

		<!-- this is the time line -->
		<div class="container">

			<section id="cd-timeline" class="cd-container">
				<!-- ALL TIMELINE STUFF GETS ADDED HERE DYNAMICALLY -->
			</section>
			<!-- cd-timeline -->
		</div>

	</div>

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="../js/profile.js"></script>
	<script src="../js/main.js"></script>
	<!-- Resource jQuery -->


	</body>

</html>