.slideSteps {
    width: 100%;
}

body {
	/* background-image: url("../img/dino.png"); */
	width: 100%;
	/* background-position: center;
	background-repeat: no-repeat;
	background-size: cover; */
	font-family: 'Noto Sans', sans-serif;
	font-size: 1em; 
	/* position: fixed; */
}

.wrapper {
    text-align: center;
}

.big-btn {
    width: 75%;
    height: 5%;
    margin: 2%;
    padding: 5px !important;
    
}


/* LOT OUT */
.logoutLblPos{

    position:fixed;
    right:10px;
    top:5px;
 }

 .userName {
	margin-right: 82px;
    margin-top: 8px;
 }


 /* NEW STYLES */

 .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    margin: 10px;
}

.title {
    color: grey;
    font-size: 18px;
}

button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}

button:hover, a:hover {
    opacity: 0.7;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}